<!-- <h2>Howdy!</h2> -->
<!-- <div [ngSwitch]="objectType">
  <ng-template [ngSwitchCase]="'observable'">
    <div class="live">{{ value | async }}</div>
  </ng-template>
  <ng-template ngSwitchDefault>
    <div style="border: 1px solid black;">{{ value }}</div>
  </ng-template>
</div> -->

<div *ngIf="maxDepth > 1; else nothing">


	<div [ngSwitch]="objectType">
    <ng-template [ngSwitchCase]="'observable'">
      <div class="live">
        <live-view [value]="(value | async)" [maxDepth]="childDepth"></live-view>
      </div>
    </ng-template>
		<ng-template ngSwitchCase="null">(null)</ng-template>
		<ng-template ngSwitchCase="bool">{{value}}</ng-template>
		<ng-template ngSwitchCase="number">{{value}}</ng-template>
		<ng-template ngSwitchCase="string">{{value}}</ng-template>
		<ng-template ngSwitchCase="date">Date: {{value.toLocaleString()}}</ng-template>
		<ng-template ngSwitchCase="object">
			<table class="grid">
				<tr *ngFor="let key of keys">
					<th>{{key}}</th>
					<td>
						<live-view [value]="value[key]" [maxDepth]="childDepth"></live-view>
					</td>
				</tr>
			</table>
		</ng-template>
		<ng-template ngSwitchCase="array">
			<table class="grid table" *ngIf="keys">
				<thead>
					<tr>
						<th *ngFor="let key of keys">{{key}}</th>
					</tr>
				</thead>
				<tbody>
					<tr *ngFor="let item of value">
						<td *ngFor="let key of keys">
							<live-view [value]="item[key]" [maxDepth]="childDepth"></live-view>
						</td>
					</tr>
				</tbody>
			</table>

			<table class="grid table" *ngIf="keys && !keys.length">
				<thead>
					<tr>
						<th>Array</th>
					</tr>
				</thead>
				<tbody>
					<tr *ngFor="let item of value">
						<live-view [value]="item" [maxDepth]="childDepth"></live-view>
					</tr>
				</tbody>
			</table>
		</ng-template>
		<ng-template ngSwitchCase="boolean">{{value}}</ng-template>
		<ng-template ngSwitchDefault>...</ng-template>
	</div>
</div>

<ng-template #nothing>
	<span [ngSwitch]="objectType">
    <ng-template ngSwitchCase="null">(null)</ng-template>
    <ng-template ngSwitchCase="bool">{{value}}</ng-template>
    <ng-template ngSwitchCase="number">{{value}}</ng-template>
    <ng-template ngSwitchCase="string">{{value}}</ng-template>
    <ng-template ngSwitchCase="date">{{value.toLocaleString()}}</ng-template>
    <ng-template ngSwitchCase="object">...object...</ng-template>
    <ng-template ngSwitchCase="array">...array...</ng-template>
    <ng-template ngSwitchDefault>...</ng-template>
  </span>
</ng-template>